---
// src/layouts/BaseLayout.astro
const { title = "Astro MPA/SPA Demo", description = "Just enough layout & nav" } = Astro.props;

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

/* Import global CSS so Vite bundles it (if using src/styles/global.css) */
import "../styles/index.css";
---
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="icon" href="/favicon.svg" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@900&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700;900&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap" rel="stylesheet" />

    <!-- <link href="https://fonts.googleapis.com/css2?family=Playball&display=swap" rel="stylesheet" /> -->
    <script
            src="https://www.paypal.com/sdk/js?client-id=ASrkcLLY2_J5zbYK1SHFVxdosWRvwcwG2qWkNgA4C_PsrP5Qvs2UcbQH8V53OkicaVFzljp1QqoRIfpb&components=buttons&currency=USD"
            data-sdk-integration-source="astro-demo"
            defer
    ></script>

</head>
<body>
<Header />

<main class="site-main" role="main">
    <slot />
</main>

<Footer />
</body>
</html>
